<div class="container">
    <div class="row mt-n1-9">

        <div class="col-md-6 col-lg-4 mt-1-9">

            <h3 class="footer-title-style6">{{ 'Lift Gurluşyk we Bejeriş Tresti'|_ }}</h3>
            <p class="mt-4 text-default-color">
                {{ 'Aşgabat şäher häkimliginiň Jemagat hojalygy müdirliginiň göni garamagynda “Lift gurluşyk we bejeriş” tresti, Türkmenistanyň “Kärhanalar hakyndaky” kanunyna, Türkmenistanyň Ministrler Kabinetiniň Başlygynyň Orunbasarynyň 2019-njy ýylyň 1-nji maýyndaky 11/15426 san belgili ylalaşyk hatyna laýyklykda hem-de Aşgabat şäher häkiminiň 2019-njy ýylyň 09-njy awgustyndaky 1174 san belgili Karary esasynda döredildi. Trest, Türkmenistanyň Ýaşaýyş jaý kodeksine we Türkmenistanyň beýleki kadalaşdyryjy hukuk namalaryna, Türkmenistanyň Sanitariýa kodeksine, “Liftleriň gurluşy we olary howpsuz ulanmagyň düzgünleri”-niň talaplaryndan ugur alýar.'|_ }}</p>

        </div>

        <div class="col-md-6 col-lg-3 mt-1-9">
            <!--            <h3 class="footer-title-style6">{{'Lift Gurluşyk we Bejeriş Tresti'|_ }}</h3>-->
            <!--            <div class="row">-->
            <!--                <div class="col-md-6 pe-lg-0">-->
            <!--                    <ul class="footer-list-style3 mb-1 mb-md-0 ps-0">-->
            <!--                        <li><a href="#!">Financial Planning</a></li>-->
            <!--                        <li><a href="#!">Software &amp; Research</a></li>-->
            <!--                        <li><a href="#!">Market Research</a></li>-->
            <!--                        <li><a href="#!">Sales Services</a></li>-->
            <!--                        <li><a href="#!">Market Analysis</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--                <div class="col-md-6 pe-lg-0">-->
            <!--                    <ul class="footer-list-style3 ps-0">-->
            <!--                        <li><a href="#!">Financial Planning</a></li>-->
            <!--                        <li><a href="#!">Software &amp; Research</a></li>-->
            <!--                        <li><a href="#!">Market Research</a></li>-->
            <!--                        <li><a href="#!">Sales Services</a></li>-->
            <!--                        <li><a href="#!">Market Analysis</a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>

        <div class="col-md-6 col-lg-5 mt-1-9">
            <h3 class="footer-title-style6">{{ 'Telefon belgileri we salgylar'|_ }}</h3>
            <ul class="footer-list-style3 ps-0">
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{ '45 91 72 — Parahat 3/1 jaý 2 “Ýe”'|_ }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{ '46 03 80 — Parahat 1/2 jaý 1 “W”'|_ }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{
                            '96 55 32 — Parahat 6 jaý 87 (ýarym ýerzemin)'|_
                        }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{
                            '51 22 05 — Parahat 7/1 jaý 1 (ýarym ýerzemin)'|_
                        }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{
                            '51 50 11 — Parahat 7/2 jaý 11 (ýarym ýerzemin)'|_
                        }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{
                            '51 83 99 — Parahat 7/5 jaý 37 (ýarym ýerzemin)'|_
                        }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-mobile-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{
                            '51 83 99 — Parahat 7/5 jaý 37 (ýarym ýerzemin)'|_
                        }}</span>
                </li>
                <li>
                    <span class="d-inline-block align-top"><i class="fas fa-map-marker-alt"></i></span>
                    <span class="d-inline-block w-85 align-top ps-2">{{
                            'Aşgabat ş Köpetdag etraby Parahat 1 jay 43 B '|_
                        }}</span>
                </li>
            </ul>
        </div>

    </div>

</div>
<div class="footer-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-md-start text-center mb-2 mb-md-0">
                <p>"Lift gurluşyk we bejeriş" tresti. © 2024
            </div>
            <div class="col-md-6 text-md-end text-center">
                Design and Developed by: <a href="#" target="_blank">TMS</a>
            </div>
        </div>
    </div>
</div>
