{# Favicon #}
<link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ 'assets/img/fav/apple-touch-icon.png'|theme }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/fav/favicon-32x32.png'|theme }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/fav/favicon-16x16.png'|theme }}">

{# Styles #}
<link rel="stylesheet" href="{{ 'assets/css/plugins.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/quform/css/base.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/styles.css'|theme }}">
<link rel="stylesheet" href="{{ 'assets/css/leaflet.css'|theme }}">
{% styles %}
