{% framework extras %}
<script type="text/javascript" src="{{ 'assets/js/jquery.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/popper.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/core.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/quform/js/plugins.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/quform/js/scripts.js'|theme }}"></script>

{% scripts %}