{# Styles #}
<style>
    .service_card1:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card1:hover.service_card1 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card2:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card2:hover.service_card2 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card3:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card3:hover.service_card3 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card4:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card4:hover.service_card4 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card5:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card5:hover.service_card5 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card6:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card6:hover.service_card6 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card7:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card7:hover.service_card7 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .service_card8:hover {
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
        transform: translateY(-10px);
    }

    .service_card8:hover.service_card8 img {
        color: red;
        filter: hue-rotate(45deg);
    }
</style>
<style>
    .moving-left img {
        position: relative;
        transition: transform 0.3s ease;
        transform: translateX(0px);
    }

    .moving-left:hover img {
        transform: translateX(10px);
    }

    .slogan {
        width: 100%;
        background-color: #78A797;
    }

    .truncate-lines {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        height: 3.6em;
    }

</style>
{% styles %}
